/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage UPDATE SIZE AS NEEDED*/

#search {
  width: 300;
  height: 240;
}

h1 {
  font-family: 'Yellowtail', ;
  color: #6a0dad;
  outline-color: white;
  
}

img {
  position:
}

#stage {
  background: white;
  height: 500px;
  width: 900px;
  
  overflow: hidden;
}

#stage h1 {
  position: absolute;
  bottom: 1;
  right: 10;
}



#stage svg {
  position: absolute;
}

img {
  position: center;
}
