/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

body {
  background: url(../img/lift.jpeg)
}

h1 {
  font-family: 'Georgia', serif;
}
