/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 4px dotted black;
}

body {
  background: url(lift.jpeg)
}

h1 {
  font-family: 'Yellowtail'
}