/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 300px;
  width: 600px;
body {
  background: url(../img/lift.jpeg)
}

h1 {
  font-family: 'Georgia', serif;
}

#heart1 {
  fill: red;
}

#heart2 {
  fill: green;
}
