/* External styling from: https://codepen.io/manikoth/pen/NNNBYe.css
 */
/* Doodle Stage UPDATE SIZE AS NEEDED*/

#search {
  width: 300;
  height: 240;
}

#stage {
  background: white;
  height: 500px;
  width: 900px;
  
  overflow: hidden;
}

/**H1 borrowed from: https://codepen.io/boldfacedesign/pen/EoGgD :) **/

#h1   {
  position: absolute;
  margin: 0px;
  font-family: 'Yellowtail', cursive;
  font-size: 2em;
  color: #6a0dad;
  margin-left: 60px;
  margin-top: -600px;
  -webkit-text-stroke: 1px #FF69B4;
  outline: (2px 2px 20px #FFFFFF);
  z-index: 20;
}


#stage svg {
  position: absolute;
}

img {
  position: center;
}
